<div class="main-container">
  <button class="new-trip-btn" type="button" (click)="toggleCreateTrip()">New Trip</button>

  <div *ngIf="createNewTrip" class="create-trip-dialog-container">
    <div class="create-trip-dialog">
      <i class="fa fa-close" (click)="toggleCreateTrip()"></i>
      <br>
      <input type="text" placeholder="Trip Name:" class="trip-name-input" [(ngModel)]="newTripName">
      <br>
      <div class="trip-locations">
        <div>
          <p class = "location-names" *ngFor="let location of newTripLocations">{{location}}</p>
        </div>
        <button class="add-location-btn" (click)="addLocation()">Add Location</button>
        <input type="text" placeholder="Location Name:" class="location-name-input" [(ngModel)]="newTripLocationName">
      </div>
      <br>
      <button class="create-trip-btn" (click)="createTrip()">Create</button>
    </div>
  </div>

  <div class="map-container">

  </div>

  <div class="trips-container">
    <div class="trip-list">
      <div class="trip-container" *ngFor="let trip of trips">
        <div class="trip-name" (click)="setTrip(trip)">
          {{trip.name}}
          <button class="delete-trip-btn" (click)="deleteTrip(trip)">Delete</button>
        </div>
        <div class="locations-container" *ngIf="isCurrentTrip(trip)">
          <div>
            <div class="location-container" *ngFor="let location of locations">
              <button class="location" (click)="openLocation(location)">
                {{location.name}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
