.trip-container{
  border: gray 1px solid;
  width: 90%;
}

.trip{
  width: 100%;
  cursor: pointer;
}

.location{
  width: 100%;
  cursor: pointer;
}

.create-trip-dialog-container{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.create-trip-dialog{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.new-trip-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 22px;
  font-family: Verdana, serif;
  transition-duration: 0.4s;
  border: 2px solid #89CFF0;
  font-weight: 550;
}

.new-trip-btn:hover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: #89CFF0;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 22px;
  font-family: Verdana, serif;
  color: white;
  font-weight: 550;
}

.delete-trip-btn {
  margin: 20px;
  background-color: red;
  border-radius: 4px;
  font-size: 12px;
  padding: 5px 4px;
  font-family: Verdana, serif;
  transition-duration: 0.4s;
  border: 2px solid red;
  font-weight: 550;
  color: white;
}

.delete-trip-btn:hover {
  margin: 20px;
  background-color: red;
  border-radius: 4px;
  font-size: 12px;
  padding: 5px 22px;
  font-family: Verdana, serif;
  font-weight: 550;
  color: white;
}

.trip-name {
  font-family: Verdana, serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5px;
  width: fit-content;
  font-size: 30px;
}

.location{
  float:left;
  background-color: white;
  font-size: 18px;
  padding: 4px 2px;
  font-family: Verdana, serif;
  transition-duration: 0.4s;
  border: 2px solid #89CFF0;
}

.location:hover{
  background-color: #89CFF0;
  font-size: 18px;
  padding: 4px 2px;
  font-family: Verdana, serif;
  color: white;
}

.trip-name-input{
  display:block;
  margin:auto;
}

.add-location-btn{
  /*display:block;*/
  /*margin:auto;*/
  margin-bottom: 15px;
  background-color: white;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px 2px;
  font-family: Verdana, serif;
  transition-duration: 0.4s;
  border: 2px solid #89CFF0;
}

.add-location-btn:hover {
  background-color: #89CFF0;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px 2px;
  font-family: Verdana, serif;
  color: white;
}

.location-names{
  display: inline-block;
  font-family: Verdana, serif;
  border: 2px #89CFF0 solid;
  border-radius: 5px;
  padding: 3px;
  margin: 10px 4px;
}

.create-trip-btn {
  display: block;
  margin:auto;
  background-color: white;
  border-radius: 3px;
  font-size: 18px;
  padding: 2px 8px;
  font-family: Verdana, serif;
  transition-duration: 0.4s;
  border: 2px solid green;
}

.create-trip-btn:hover {
  display: block;
  margin:auto;
  background-color: green;
  border-radius: 3px;
  font-size: 18px;
  padding: 2px 8px;
  font-family: Verdana, serif;
  color: white;
}

.location-container{
  display:inline-block;
}
