<div class="main-container">
  <p>{{location.name}}</p>
  <button class="new-post-btn" type="button" (click)="toggleCreatePost()">Add Post</button>
  <button class="delete-location-btn" type="button" (click)="deleteLocation(post)">Delete Location</button>

  <div *ngIf="createNewPost" class="create-post-dialog-container">
    <div class="create-post-dialog">
      <i class="fa fa-close" (click)="toggleCreatePost()"></i>
      <br>
      <input type="text" placeholder="Comment:" class="post-comment-input" [(ngModel)]="newPostText">
      <br>
      <input type="file" placeholder="Choose Image" name="photo" class="post-image-input" ng2FileSelect [uploader]="uploader">
      <br>
      <button class="create-trip-btn" (click)="createPost()">Create</button>
    </div>
  </div>
  <div class="post-container">
    <div class="post" *ngFor="let post of posts">
      <p>{{post.text}}</p>
      <img src="../../../../{{post.picture}}">
      <br>
      <button class="delete-post-btn" type="button" (click)="deletePost(post)">Delete Post</button>
    </div>
  </div>
</div>
